#navigator { background-color:#999; font-family:Verdana, Geneva, sans-serif; background-image:url(/web/image/navigator.jpg)}
#menu { text-indent: 1em; font-family:Arial, Helvetica, sans-serif; background-image:url(/web/image/menu.jpg)}
#label { font-family:Georgia, "Times New Roman", Times, serif; text-align:right}
legend { font-family:Arial, Helvetica, sans-serif; font-size:20px;}
#thlabel { font-family:Georgia, "Times New Roman", Times, serif; text-align:center }
#sidebar { margin-top:1em; }
#maintitle { background-image:url(/web/image/maintitle.png); background-repeat:no-repeat; background-position:center}
#maincontent { background-image:url(/web/image/maincontent.png); background-position:center; background-repeat:repeat-y; padding-left: 3em;}
#main { margin-top:1em;}