<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <resource-ref>
        <discription>database connection</discription>
        <res-ref-name>jdbc/hrs</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>adminaddserv</servlet-name>
        <servlet-class>serv.adminaddserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditserv</servlet-name>
        <servlet-class>serv.admineditserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeinfoserv</servlet-name>
        <servlet-class>serv.changeinfoserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepasswordserv</servlet-name>
        <servlet-class>serv.changepasswordserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutserv</servlet-name>
        <servlet-class>serv.logoutserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regserv</servlet-name>
        <servlet-class>serv.regserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginserv</servlet-name>
        <servlet-class>serv.loginserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listserv</servlet-name>
        <servlet-class>serv.listserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changepasswordserv</servlet-name>
        <url-pattern>/changepasswordserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeinfoserv</servlet-name>
        <url-pattern>/changeinfoserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditserv</servlet-name>
        <url-pattern>/admineditserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminaddserv</servlet-name>
        <url-pattern>/adminaddserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutserv</servlet-name>
        <url-pattern>/regserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regserv</servlet-name>
        <url-pattern>/regserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginserv</servlet-name>
        <url-pattern>/loginserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listserv</servlet-name>
        <url-pattern>/listserv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
